
/*BARRA DE ARRIBA*//*BARRA DE ARRIBA*//*BARRA DE ARRIBA*/
/*BARRA DE ARRIBA*//*BARRA DE ARRIBA*//*BARRA DE ARRIBA*/

.topBar{ 
  
}
.language{
    position: absolute;
    top:1vh;
    left: 20%;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    font-size: 12px;
}
.textoTema-posicion{
    padding-left: 110%;
    font-size: 12px;
    text-emphasis: none;
    user-select: none;
}
.textoTema-n{
    border-radius: 50%;
    border-width: 0%;
    border-color: linear-gradients(90deg, rgb(0,0,0) 0%,rgb(0,0,0) 0%,rgb(0,0,0) 0%);
    background-color:rgb(186, 186, 186);
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 80%;
    cursor: pointer;
    color:black;
}
.textoTema-c{
    border-radius: 50%;
    border-width: 0%;
    border-color: linear-gradients(90deg, rgb(0,0,0) 0%,rgb(0,0,0) 0%,rgb(0,0,0) 0%);
    background-color:yellow;
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 80%;
    cursor: pointer;
    color:white;
}
/*BARRA DE ARRIBA*//*BARRA DE ARRIBA*//*BARRA DE ARRIBA*/
/*BARRA DE ARRIBA*//*BARRA DE ARRIBA*//*BARRA DE ARRIBA*/


/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/

.negro{
color:black;
}
.blanco{
    color:white;
}
.redireccionamientosClaro{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.redireccionamientosOscuro{
    text-decoration: none;
    color:black;
    font-size: 18px;
}
.fondoBlanco{
    background-color: white;  
    background-size: cover;
    height: 100vh;
    color: black;

}
.fondoNegro{
    background-color: black;
    background-size: cover;
    height: 100vh;
    color: white;
}

/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/


.bienvenidaTexto{
    text-align: center;
}
.textoMediano{
    font-size: 18px;
}
.CalculoFondo{
    background-image: url("https://www.clarkson.edu/sites/default/files/2023-06/Mathematics-Hero-1600x900.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    top:0;
    padding:0;
    height: 100vh;
}

/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/



/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/

footer{
    position:absolute;
    text-align: center;
    bottom: 0;   
 }

/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/




/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/


/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/

.volverAlInicioBoton{
    bottom:0;
    position: absolute;
}


/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/

/*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*/
/*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*/

.carga{
   text-align: center; 
   padding-top: 15%;
   font-size: 50px;
}

/*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*/
/*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*//*CARGA INFORMAT*/

/*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*/
/*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*/

.informatica{
    text-align: center;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    
}
.informaticaBackground{
  background-color: rgba(94, 50, 50, 0.596);
  height: 100vh;
  border: 2px solid rgba(17, 17, 17, 0.137);
}
.bienvenidaInformatica{
    font-size: 3vw;
    padding-top: 100px;
    font-family:Arial, Helvetica, sans-serif;
    /*background-color: rgba(0, 0, 0, 0);*/
    /*text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;*/
}
.cuerpoInformatica{
    padding-top: 4%;
    font-size: 1.3vw;
}

/*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*/
/*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*//*INFORMAT*/

/*CALCULO*//*CALCULO*//*CALCULO*//*CALCULO*/
/*CALCULO*//*CALCULO*//*CALCULO*//*CALCULO*/

.calculo{
    padding-left: 20%;
}

/*CALCULO*//*CALCULO*//*CALCULO*//*CALCULO*/
/*CALCULO*//*CALCULO*//*CALCULO*//*CALCULO*/