/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/

.negro{
color:black;
}

.blanco{
    color:white;
}

.redireccionamientosClaro{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.redireccionamientosOscuro{
    text-decoration: none;
    color:black;
    font-size: 18px;
}

/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/
/*CLASES GENERALES...*//*CLASES GENERALES...*//*CLASES GENERALES...*/


.bienvenidaTexto{
    text-align: center;
}

.textoMediano{
    font-size: 18px;
}
.CalculoFondo{
    background-image: url("https://www.clarkson.edu/sites/default/files/2023-06/Mathematics-Hero-1600x900.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    top:0;
    padding:0;
    height: 100vh;
}

/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/

.fondoBlanco{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top:0;
    padding:0;
    height: 100vh;
    position: absolute;
    color: black;

}
.fondoNegro{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top:0;
    padding:0;
    height: 100vh;
    position: absolute;
    color: white;
}

/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/
/*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*//*FONDO DE LA PANTALLA DE BIENVENIDA...*/

footer{
    position:absolute;
    text-align: center;
    bottom: 0;   
 }

/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/
/*boton tema*//*boton tema*//*boton tema*/

.textoTema-n{
    border-radius: 50%;
    margin-left: 0px;
    border-width: 0%;
    border-color: linear-gradients(90deg, rgb(0,0,0) 0%,rgb(0,0,0) 0%,rgb(0,0,0) 0%);
    background-color:rgb(186, 186, 186);
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 80%;
    cursor: pointer;
    color:black;
}

.textoTema-c{
    border-radius: 50%;
    border-width: 0%;
    border-color: linear-gradients(90deg, rgb(0,0,0) 0%,rgb(0,0,0) 0%,rgb(0,0,0) 0%);
    background-color:yellow;
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 80%;
    cursor: pointer;
    color:white;
}

.textoTema-posicion{
    padding-left: 110%;
}

/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/
/*volver al inicio BOTON*//*volver al inicio BOTON*//*volver al inicio BOTON*/

.volverAlInicioBoton{
    bottom:0;
    position: absolute;
}